<div class="d-grid gap-4 my-5 d-flex justify-content-center">
    <form action="/api/productos" method="GET">
        <button class="btn btn-warning btn-lg" type="submit">Mostrar productos</button>
    </form>
    <form action="/api" method="GET">
        <button class="btn btn-warning btn-lg" type="sumbit">Agregar Producto</button>    
    </form>
</div>