<div class="col">
    <div class="card h-100" style="width: 10rem;">
        <img src="{{this.thumbnail}}" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-light">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">$ {{this.price}}</p>
        </div>
    </div>
</div>`